<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/acal?createDatabaseIfNotExist=true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <mapping class="entidades.Categoriasocio"/>
    <mapping class="entidades.Cheque"/>
    <mapping class="entidades.Chequeslog"/>
    <mapping class="entidades.Conta"/>
    <mapping class="entidades.Contaslog"/>
    <mapping class="entidades.Contrato"/>
    <mapping class="entidades.Endereco"/>
    <mapping class="entidades.Entrada"/>
    <mapping class="entidades.Entradaslog"/>
    <mapping class="entidades.Funcionario"/>
    <mapping class="entidades.Hidrometro"/>
    <mapping class="entidades.Motivodespesa"/>
    <mapping class="entidades.Motivoentrada"/>
    <mapping class="entidades.Pessoa"/>
    <mapping class="entidades.Saida"/>
    <mapping class="entidades.Saidaslog"/>
    <mapping class="entidades.Socio"/>
    <mapping class="entidades.Taxa"/>
    <mapping class="entidades.Taxasconta"/>
    <mapping class="entidades.Enderecopessoa"/>
    
    <mapping class="entidades.Sociotabela"/>
    <mapping class="entidades.Geracaocontas"/>
    <mapping class="entidades.SociosView"/>
    <mapping class="entidades.CaixaView"/>
    <mapping class="entidades.RcCaixaCompleto"/>
    <mapping class="entidades.EnderecoView"/>
  
  </session-factory>
</hibernate-configuration>
